<div fxLayout="row wrap" class="quiz" fxLayoutAlign="space-around center" padding="10px" fxFill *ngIf="!completed">

  <mat-card fxFlex="25">
    <div class="example-button-container" padding="10px">
      <button *ngFor="let q of questionsList; index as i; " mat-mini-fab class="indexButtons"
        (click)="indexChange(i)"
        [ngStyle]="{'background-color': questionsList[i].colourCode}">
        {{i+1}}
      </button>
    </div>
  </mat-card>

  <div fxFlex="70" fxLayout="column wrap" fxLayoutAlign="space-around center" class="question-container">
    <mat-card fxLayoutAlign="space-around stretch" (click)="complete()">{{ time | date: 'hh:mm:ss a' }}</mat-card>
    <br>
    <!-- <div class="particles-button" [pSize]="6" libParticleEffectButton (pComplete)="hidden1= false;" pType="triangle"
      pEasing="easeOutQuart" pParticlesAmountCoefficient="4" pOscillationCoefficient="1" pColor="#fff" pDuration="500"
      [pHidden]="hidden1" (click)="hiding()"> -->
      <div fxLayout="column wrap">

        <mat-card fxLayoutAlign="space-around stretch">
          <p>Seconds Left...{{timeLeft}}......Seconds spent..{{timeTaken}}..</p>
        </mat-card> <br>
        <div class="container" fxLayout="row wrap" padding="10px" fxLayoutAlign="space-around stretch">
          <mat-card>{{question.question}}</mat-card>
        </div>
        <br>
        <div class="container" fxLayoutGap.xs="0" fxLayout="row wrap" padding="10px"
          fxLayoutAlign="space-around center">
          <button mat-button class="option-button"
            [ngClass]="{'wrong-option':selectedOptionNumber == 1 && selectedOptionNumber!= correctAnswerOption,'correct-option':correctAnswerOption == 1 && selectedOptionNumber!= 0}"
            (click)="selectedOption(1)"><span>{{question.option1}}</span></button>
          <button mat-button class="option-button"
            [ngClass]="{'wrong-option':selectedOptionNumber == 2 && selectedOptionNumber!= correctAnswerOption,'correct-option':correctAnswerOption == 2 && selectedOptionNumber!= 0}"
            (click)="selectedOption(2)"><span>{{question.option2}}</span></button>
        </div>
        <br>
        <div class="container" fxLayoutGap.xs="0" fxLayout="row wrap" padding="10px"
          fxLayoutAlign="space-around center">
          <button mat-button class="option-button"
            [ngClass]="{'wrong-option':selectedOptionNumber == 3 && selectedOptionNumber!= correctAnswerOption,'correct-option':correctAnswerOption == 3 && selectedOptionNumber!= 0}"
            (click)="selectedOption(3)"><span>{{question.option3}}</span></button>
          <button mat-button class="option-button"
            [ngClass]="{'wrong-option':selectedOptionNumber == 4 && selectedOptionNumber!= correctAnswerOption,'correct-option':correctAnswerOption == 4 && selectedOptionNumber!= 0}"
            (click)="selectedOption(4)"><span>{{question.option4}}</span></button>
        </div>
        <br>

      </div>
      <progress value={{progress}} max="100"></progress>
    <!-- </div> -->
  </div>
</div>
<div  *ngIf="completed" >
  <mat-card (click) = "completed = false;"> The total time taken to attempt {{answered}} questions = {{timeDifference}}, average time taken for each question is {{averageTime}}, Answered correct = {{answeredRight}} , Answered wrong = {{answeredWrong}}</mat-card>
<table mat-table [dataSource]="questionsList" class="mat-elevation-z8">

  <ng-container matColumnDef="QuestionNumber">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element.colourCode, 'display' : element.QuestionNumber == 0 ? 'none' : 'visible'  }" > {{element.QuestionNumber}} </td>
  </ng-container>

 
  <ng-container matColumnDef="CorrectOption">
    <th mat-header-cell *matHeaderCellDef> Correct Option </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element.colourCode, 'display' : element.QuestionNumber == 0 ? 'none' : 'visible'  }"> {{element.correctOption}}</td>
  </ng-container>
  
  
  <ng-container matColumnDef="colourCode">
      <th mat-header-cell *matHeaderCellDef> Result </th>
      <td mat-cell *matCellDef="let element"  [ngStyle]="{'background-color': element.colourCode, 'display' : element.QuestionNumber == 0 ? 'none' : 'visible'  }" > {{element.result}} </td>
    </ng-container>

  
  <ng-container matColumnDef="timeTaken">
    <th mat-header-cell *matHeaderCellDef > Time Taken </th>
    <td mat-cell *matCellDef="let element"   [ngStyle]="{'background-color': element.colourCode, 'display' : element.QuestionNumber == 0 ? 'none' : 'visible'  }" > {{element.timeTaken}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> 
</div>